<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Radius</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.wirecam.radius">
        </div>
        <label class="control-label">Start Height</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.wirecam.start_height">
        </div>
        <label class="control-label">End Height</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.wirecam.end_height">
        </div>
    </div>
</form>
