<button class="btn btn-default" data-bind="click: function() {home();}">Home</button>

<input type="number" id="x">
<input type="number" id="y">
<input type="number" id="z">

<button class="btn btn-default" data-bind="click: function() {move();}">Move</button>
